<% @messages.each do |x| %>
  <% if company_signed_in? %>
    <% if x.sender == "post"%>
      <div class="row msg-sender content"><%= x.content %></div>
    <% else %>
      <div class="row msg-recipient content"><%= x.content %></div>
    <% end %>
    <% elsif user_signed_in? %>
    <% if x.sender == "user"%>
      <div class="row msg-sender content"><%= x.content %></div>
    <% else %>
      <div class="row msg-recipient content"><%= x.content %></div>
    <% end %>
  <% end %>
<% end %>

<script language="javascript" type="text/javascript">
  let lastChatBox = document.querySelectorAll('.content'); 
  lastChatBox = lastChatBox[lastChatBox.length-1]; 
  lastChatBox.scrollIntoView(); 
</script>