<div class="card landing-page">
	<%= image_tag 'landing-page-bg2'%>
	  <div class="card-img-overlay">
		    <h1 class="card-title">Get matched with <br>
		    	your perfect company</h1>
		    <p class="card-text">Join now as a...</p>
					<%= link_to "Jobseeker", new_user_registration_path, :class => "btn btn-landing", :id=>"first-button" %>
					<%= link_to "Company", new_company_registration_path, :class => "btn btn-landing" %>
	  </div>
</div>