/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
 	font-family: 'Poppins', sans-serif;
 }

	h1{
		font-size: 50px;
	}

 .navbar {
 	background-color: #3D9BF1;
 }

 .navbar-brand img {
 	width: 70%;
 	margin-left: 10%;
 }

 .btn-nav {
 	border-color: #006DD2;
 	color: #FFFFFF;
 	font-size: 14px;
 }

 .btn-nav:hover, .btn-submit:hover {
	 	background-color: #006DD2;
	 	color: #FFFFFF;
 }

 .smol{
 	font-size: 15px;
 }

 .btn-submit {
 	background-color: #3D9BF1;
 	color: #FFFFFF;
 	font-size: 14px;
 	padding: 0.5em 2em;
 }

.landing-page {
 	border: none;
 }

.landing-page img {
	height: 90vh;
 	width: auto;
 	object-fit: cover;
}

.card-title {
	font-weight: 800;
	margin-left: 10%;
	margin-top: 20%;
	line-height: 1.5;
}

.card-text {
	font-size: 18px;
	font-weight: bold;
	margin-left: 10%;
	margin-top: 0;
}

#first-button {
	margin-left: 10%;
}

.card-img-overlay span {
	font-weight: bold;
	padding: 5%;
}

.tinder{
	background-color: #E7E5E5;
}

.tinder-btn{
 	border-radius: 50%;
 }


.matched{
	background-color: #E5E5E5;
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	overflow: hidden;
	overflow-x: scroll;
}

::-webkit-scrollbar {
	display: none;
}

.match-content{
	width: 150px;
	margin: 1% 3%;
	border-radius: 50%;
}

.match-message{
	background-color: rgba(229, 229, 229, 0.5);
	width: 90%;
	margin: 0 auto;
	padding: 2% 0 2%;
}

 @media only screen and (max-width: 700px) {

	h1{
		font-size: 30px !important;
	}

	.show-page{
		width: 90% !important;
	}

 	.display-pic{
 		width: 70% !important;
 	}

 	.form-group{
 		width: 90% !important;
 	}

 	.byebye{
 		display: none
 	}

 	.tinder{
 		width: 90% !important;
 	}

 	.tinder-content{
 		width: 100% !important;
 	}

	.tinder-params{
		font-size: 12px !important;
	}


	.match-content{
		width: 70px;
		margin: 1% 5%;
		border-radius: 50%;
	}

	.match-message{
		width: 90%;
		margin: 0 auto;
		padding-top: 2%;
		text-align: center;
	}


}