/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
 	font-family: 'Poppins', sans-serif;
 }

	h1{
		font-size: 50px;
	}

 .navbar {
 	background-color: #3D9BF1;
 }

 .navbar-brand img {
 	width: 70%;
 	margin-left: 10%;
 }

 .btn-nav {
 	border-color: #006DD2;
 	color: #FFFFFF;
 	font-size: 14px;
 }

 .btn-nav:hover, .btn-submit:hover {
	 	background-color: #006DD2;
	 	color: #FFFFFF;
 }

 .smol{
 	font-size: 15px;
 }

 .btn-submit {
 	background-color: #3D9BF1;
 	color: #FFFFFF;
 	font-size: 14px;
 	padding: 0.5em 2em;
 }

.landing-page {
 	border: none;
 }

.landing-page img {
	height: 90vh;
 	width: auto;
 	object-fit: cover;
}

.card-title {
	font-weight: 800;
	margin-left: 10%;
	margin-top: 20%;
	line-height: 1.5;
}

.card-text {
	font-size: 18px;
	font-weight: bold;
	margin-left: 10%;
	margin-top: 0;
}

#first-button {
	margin-left: 10%;
}

.card-img-overlay span {
	font-weight: bold;
	padding: 5%;
}

.tinder{
	background-color: #E7E5E5;
}

.tinder-btn{
 	border-radius: 50%;
 }

.msg-box {
	height: 70vh;
	margin-top: 3%;
}

.msg-main {
	background-color: #E5E5E5;
	height: 80%;
	width: 100%;
	display: flex;
	flex-direction: column;
	overflow: scroll;
	overflow-x: hidden;
}

.msg-header {
	background-color: #DFDCDC;
	height: 20%;
	width: 100%;
	align-items: center;
	margin: 0;
	border-bottom: 1px solid #C4C4C4;
}

.msg-header ul {
	list-style-type: none;
	padding: 0;
}

.msg-logo {
	border-radius: 50%;
	width: 60%;
	padding: 2%;
}

.msg-logo-details {
	text-align: center;
}

.msg-matched-date {
	text-align: right;
	padding-left: 0;
	padding-right: 5%;
}

.msg-recipient-details {
	text-align: left;
	padding-left: 0;
}

.msg-recipient-details li {
	color: #7A7878;
}

.msg-recipient-details li:first-child {
	color: #0157A7;
	font-weight: bold;
}

.msg-sender {
	background-color: #3D9BF1;
	border-radius: 4px;
	width: 45%;
	height: auto;
	padding: 10px;
	margin: 2% 2% 2% 53%;
}

.msg-recipient{
	background-color: #DFDCDC;
	border-radius: 4px;
	width: 45%;
	height: auto;
	margin: 2%;
	padding: 10px;
}

.msg-text-field {
	margin: 0 0 2% 0;
	background-color: #E5E5E5;
}

.msg-text-button {
	width: 15%;
	padding: 1.9em 0;
	background-color: #FFFFFF;
}

.msg-text-area {
	width: 85%;
	float: left;
	height: 10%;
}

.matched{
	background-color: rgba(52, 58, 64, 0.7);
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	overflow: hidden;
	overflow-x: scroll;
}


.match-holder{
	margin: 1% 3%;
}

.match-content{
	height: 150px;
	width: 150px;
	border-radius: 50%;
}

.match-message{
	background-color: rgba(229, 229, 229, 0.5);
	width: 90%;
	margin: 0 auto;
	padding: 2% 0 2%;
}

.match-job-content{
	font-size: 16px;
}

 @media only screen and (max-width: 700px) {

	h1{
		font-size: 30px !important;
	}

	.show-page{
		width: 90% !important;
	}

 	.display-pic{
 		width: 70% !important;
 	}

 	.form-group{
 		width: 90% !important;
 	}

 	.byebye{
 		display: none
 	}

 	.tinder{
 		width: 90% !important;
 	}

 	.tinder-content{
 		width: 100% !important;
 	}

	.tinder-params{
		font-size: 12px !important;
	}

	.match-holder{
		margin: 1% 5%;
	}

	.match-content{
		width: 70px;
		height: 70px;
		border-radius: 50%;
	}

	.match-message{
		width: 90%;
		margin: 0 auto;
		padding-top: 2%;
		text-align: center;
	}

	.match-job-title{
		font-size: 13px;
	}

	.match-job-content{
		font-size: 10px;
	}

	 .msg-matched-date {
	 	font-size: 2vw;
	 	padding: 5% 2%;
	 }

	 .msg-recipient, .msg-main, .msg-text-area, .msg-text-button{
	 	font-size: 3vw;
	 }

	 .msg-header {
	 	height: 10%;
	 	font-size: 10px;
	 }

	 .msg-box {
	 	height: 85vh;
	 }

	 .msg-logo {
	 	width: 100%;
	 }

}